:root{
    --amarelo: #f6d399;
    --laranja: #ffb886;
    --salmao: #fc8785;
    --rosa-escuro: #b64468;
    --bege: #cfa762;
    --azul: #97c3cc;
    --branco: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(145deg,#f3d4a2, #d87997,#f79492,#a6e1ec);

}


header{
    height: 20%;
    background-color: var(--rosa-escuro);
    padding: 20px 55px;
    color: var(--branco);
}


section{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
    padding: 25px 0;

    min-height: 80vh;
}

section .link-container{
    background-color: var(--rosa-escuro);
    width: 20%;
    height: 25%;
}

.link-container a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: auto;

    text-decoration: none;
    color: var(--branco);
}

.link-container a img{
    max-height: 30%;
}

.link-container a p{
    height: 30%;
    text-align: center;
}

footer{
    height: 20%;
    background-color: var(--rosa-escuro);
    padding: 20px 55px;
    text-align: center;
    color: var(--branco);
}
