:root{
    --amarelo: #f6d399;
    --laranja: #ffb886;
    --salmao: #fc8785;
    --salmao-claro: #f8b2b1;
    --rosa-escuro: #b64468;
    --bege: #cfa762;
    --azul: #97c3cc;
    --branco: #FFFFFF;
    --cinza: #cfcfcf;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(145deg,#f3d4a2, #d87997,#f79492,#a6ccec, #a6e1ec);
    
}

h2{
    color:blue;
}
/*exemplo de Cascata*/
h2{
    color: #b64468;
}

header{
    height: 20%;
    background-color: var(--rosa-escuro);
    padding: 30px 70px;
    color: var(--branco);
}

/*exemplo de Especificidade*/
header a{
    color: var(--branco);
    text-decoration: none;
    font-size: large;
    padding: 12px 15px;
    border-radius: 20px;
    background-color: #d87997;

    transition: all 200ms ease-in-out;
}

header a:hover{
    background-color: #eda5bc;
}

header h1.Quicksand{
    font-size: 34px;
}

.section-main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 25px 0;
    
    min-height: 80vh;
    align-items: stretch;
}

/*exemplo de Herança*/
.section-main .link-container{
    width: 30%;
    transition: transform 300ms ease-in-out;
   
    margin: 5px;
}

.link-container a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
    filter: brightness(60%);
    transition: filter 500ms ease-in-out;
    
    background-color: var(--rosa-escuro);
    text-decoration: none;
}


.link-container a p{
    text-align: center;
    color: var(--branco);
    padding: 10px;
}

footer{
    height: 20%;
    background-color: var(--rosa-escuro);
    padding: 20px 55px;
    text-align: center;
    color: var(--branco);
}

.link-container a:hover{
    filter: brightness(100%);
}

.link-container:hover{
    transform: scale(1.05);

}

.section-aves {
    display: flex;
    flex-flow: column nowrap;
    width: calc(100% - 80px);
    
    padding: 40px;

    animation-name: side;
    animation-fill-mode: none;
    animation-duration: 2s;
}

.section-aves img{
    height: 100%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.178);
}

.section-aves .aves-content{
    padding: 30px;
    opacity: 0;

    animation-name: appear;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 2s;
   
}

.aves-content .texto-audio{
    height: 20px;

    font-size: larger;
    color: var(--branco);
}

@keyframes side{
    from{
        margin-left: 100%;

    }
    to{
        margin-left: 0;
    }
}

@keyframes appear{
    0%{
        opacity: 0;
        display: block;
    }
    10%{
        opacity: 0;
        display: block;
        
    }
    100%{
        opacity: 1;
        display: block;
        
    }
}
/*MEDIA QUERIES:*/
/* tablet */
@media(min-width: 768px) {
 
    .section-main .link-container{
        width: 20%;
        transition: transform 300ms ease-in-out;
        margin: 7px;
    }

    .section-aves {
        flex-direction: row;
        width: calc(100% - 70px);
        padding: 35px;
        
        animation-duration: 3s;
        max-width: max-content;
    }
    
    .section-aves img{
        width: 70%;
    
    }
    
    .section-aves .aves-content{
        padding: 0 45px;
    
        animation-duration: 2s;
        animation-delay: 3s;
       
    }
}

/* desktop */
@media(min-width: 1200px) {
    
    .section-main .link-container{
        width: 20%;
        transition: transform 300ms ease-in-out;
        margin: 7px;
    }

    .section-aves {
        flex-direction: row;
        width: calc(100% - 100px);
        padding: 50px;
        
        animation-duration: 3s;
        max-width: max-content;
    }
    
    .section-aves img{
        width: 30%;
        
    }
    
    .section-aves .aves-content{
        width: 50%;

        padding: 50px;
    
        animation-duration: 2s;
        animation-delay: 3s;
       
    }
}

/*importação de fontes*/
@font-face {
    font-family: "Playwrite";
    src: url("/assets/font/Playwrite/PlaywriteGBS-Italic-VariableFont_wght.ttf");
    src: url("/assets/font/Playwrite/PlaywriteGBS-VariableFont_wght.ttf");
 }

@font-face {
    font-family: "Quicksand";
    src: url("/assets/font/Quicksand/Quicksand/Quicksand-VariableFont_wght.ttf");
 }

.Playwrite{
   font-family: 'Playwrite';
   margin: 0;

   font-size: 48px;
   font-weight: 400;
}

.Quicksand {
    font-family: 'Quicksand';
    
    font-size: 24px;
 }
 
